<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/Manager</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">eden</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <mapping class="com.intetics.bean.EntityName"/>
        <mapping class="com.intetics.bean.Field"/>
        <mapping class="com.intetics.bean.EntityInstance"/>
        <mapping class="com.intetics.bean.Company"/>
        <mapping class="com.intetics.bean.Users"/>
        <mapping class="com.intetics.bean.Role"/>
        <mapping class="com.intetics.bean.TextStringRestriction"/>
        <mapping class="com.intetics.bean.FieldValue"/>
        <mapping class="com.intetics.bean.ChoiceRestriction"/>
    </session-factory>
</hibernate-configuration>

